body {
  font-family: Arial, sans-serif;
}

.menu {
  display: flex;
  background-color: #cd1717;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.menu-item {
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.active {
  background-color: black;
  color: white;
  border-radius: 6%;
}

.message {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* Styling for the box */
.color-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 20px auto;
  border-radius: 10px;
  border: 2px solid #ccc;
  transition: background-color 0.3s ease;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f1f1f1;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
}

button:nth-child(1) {
  background-color: #ff6961;
  color: white;
}

button:nth-child(2) {
  background-color: #77dd77;
  color: white;
}

button:nth-child(3) {
  background-color: #84b6f4;
  color: white;
}

button:nth-child(4) {
  background-color: #fdfd96;
  color: black;
}

button:nth-child(5) {
  background-color: #f1f1f1;
  color: black;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.text-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.display-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.show-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-button:hover {
  background-color: #0056b3;
  color: white;
}
