<h1>Question 1</h1>
<div class="menu">
  <div
    class="menu-item"
    [ngClass]="{ active: selectedMenu === 'Home' }"
    (click)="chooseMenu('Home')"
  >
    Home
  </div>
  <div
    class="menu-item"
    [ngClass]="{ active: selectedMenu === 'Services' }"
    (click)="chooseMenu('Services')"
  >
    Services
  </div>
  <div
    class="menu-item"
    [ngClass]="{ active: selectedMenu === 'Contact Us' }"
    (click)="chooseMenu('Contact Us')"
  >
    Contact Us
  </div>
</div>

<div class="message">
  <p *ngIf="selectedMenu">You chose {{ selectedMenu }} menu.</p>
  <p *ngIf="!selectedMenu">Choose a menu item.</p>
</div>

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
<h1>Question 2</h1>
<div
  class="color-box"
  [ngStyle]="{
    'background-color': backgroundColor,
    width: '200px',
    height: '200px'
  }"
>
  NgStyle Directive !
</div>

<div class="button-group">
  <button (click)="changeColor('red')">Red</button>
  <button (click)="changeColor('green')">Green</button>
  <button (click)="changeColor('blue')">Blue</button>
  <button (click)="changeColor('yellow')">Yellow</button>
  <button (click)="changeColor('white')">Reset</button>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------ -->

<h1>Question 3</h1>
<div class="container">
  <h2 class="title">Two-Way Data Binding Example</h2>

  <input
    class="text-input"
    type="text"
    [(ngModel)]="userInput"
    placeholder="Type something..."
  />

  <p class="display-text">You typed: {{ userInput }}</p>

  <button class="show-button" (click)="displayInput()">Show Input</button>
</div>
